[submodule "doc/dox-awesome"]
	path = doc/dox-awesome
	url = https://github.com/jothepro/doxygen-awesome-css.git
    ignore = dirty
[submodule "extlib/entt"]
	path = extlib/entt
	url = https://github.com/skypjack/entt
[submodule "extlib/centurion"]
	path = extlib/centurion
	url = https://github.com/albin-johansson/centurion
[submodule "extlib/armadillo"]
	path = extlib/armadillo
	url = https://gitlab.com/conradsnicta/armadillo-code
